
<h3 style="color:darkcyan;"> You have selected student whose id is 
  <span style="color:deeppink;">{{studentId}}</span></h3>

<div style="border: teal 2px solid;">
  <h3>Param Map Observable in Router</h3>
  <br />
  <div style="align-items: center;">
    <button type="submit" (click)="goPrevious()">Previous</button>
    <button type="submit" (click)="goNext()">Next</button>
  </div>
</div>
<br/>

<div style="align-items: center;">  
    <button type="submit" class="btn btn-success" (click) ="moveBack()">Back</button>  
    <button type="submit" class="btn btn-success" (click) ="nextToInterceptor()">Next To Loading & Interceptor</button>  
</div>


