<app-header [headerValue]="headerVal"></app-header>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="studentsaveform" (ngSubmit)="saveStudent()">
        <div class="form-group">
          <label for="name">Student Name</label>
          <input type="text" class="form-control" formControlName="student_name" data-toggle="tooltip"
            data-placement="right" title="Enter Student Name">
        </div>

        <div class="form-group">
          <label for="name">Student Email</label>
          <input type="text" class="form-control" formControlName="student_email" data-toggle="tooltip"
            data-placement="right" title="Enter Student Email">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div [hidden]="!submitted">
      <h4>Student Added SuccessFully!</h4>
      <button class='btn btn-primary'>Add More Student</button>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>