.child2{
    color:orangered;
    font-size: large;
    padding-left: 80px;
    padding-top: 10px;
  }

.child2hash{

    color:black;
    font-size: medium;
    padding-top: 10px;
    animation: blinkingText 1.2s infinite;
}
.example-form-field {
  width: 200px;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}